.place-items-center{
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

.d-grid{
  display:grid;
}

.align-right{
  margin-left: auto;
}

.text-center{
  text-align: center !important;
}

.bounce {
  outline: 0;
  border-color: red !important;
  animation-name: bounce;
  animation-duration: .5s;
  animation-delay: 0.25s;
}

.floating-background-img{
  height: 28.125rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  & img{
    height: 100%;
    object-fit: cover;
  }
}

.badge {
  --bs-badge-padding-x: 0.65em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 700;
  --bs-badge-color: #fff;
  --bs-badge-border-radius: 0.375rem;
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: var(--bs-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
}

.bg-dark{
  --bs-dark-rgb: #212529;
  background: var(--bs-dark-rgb)!important;
}

