.place-items-center {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

.d-grid {
  display: grid;
}

.align-right {
  margin-left: auto;
}

.text-center {
  text-align: center !important;
}

.w100 {
  width: 100% !important;
}

.errorShake {
  outline: 0;
  border-color: red !important;
  animation: errorShake 0.8s ease;
}

@keyframes errorShake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.floating-background-img {
  width: 100%;
  height: 45rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  & img {
    height: 100%;
    object-fit: cover;
  }
}

.badge {
  --bs-badge-padding-x: 0.65em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 700;
  --bs-badge-color: var(--light-color);
  --bs-badge-border-radius: 0.375rem;
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: var(--bs-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
}

.bg-dark {
  --bs-dark-rgb: #212529;
  background: var(--bs-dark-rgb) !important;
}

//
// Text
//

// Alignment

.text-justify {
  text-align: justify !important;
}
.text-wrap {
  white-space: normal !important;
}
.text-nowrap {
  white-space: nowrap !important;
}

// Transformation

.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}

// Contextual colors

.text-white {
  color: var(--light-color) !important;
}
.text-black {
  color: var(--black-color) !important;
}

.text-black-50 {
  color: rgba(var(--black-color), 0.5) !important;
}
.text-white-50 {
  color: rgba(var(--light-color), 0.5) !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-break {
  word-break: break-word !important; // Deprecated, but avoids issues with flex containers
  word-wrap: break-word !important; // Used instead of `overflow-wrap` for IE & Edge Legacy
}

// Reset

.text-reset {
  color: inherit !important;
}

// Contextual backgrounds

.bg-success {
  background-color: var(--success-color) !important;
}

.bg-danger {
  background-color: var(--danger-color) !important;
}
