<section class="list-questionnaires-wrapper">
  <div class="floating-background-img">
    <img src="../../../../../assets/img/dashboard/dash-min.png" alt="">
  </div>

  <div class="d-flex justify-content-center mt-3">
  </div>

  <div class="container">
      <div class="row mt-3">
          <div class="col-lg-8 offset-lg-2">
              <div class="card">
                  <div class="card-body text-center">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th scope="col">Titulo</th>
                                  <th scope="col">Cant. Preguntas</th>
                                  <th scope="col">Codigo</th>
                                  <th scope="col">Acciones</th>
                              </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let cuestionario of listCuestionarios">
                              <td>{{ cuestionario.titulo }}</td>
                              <td>{{ cuestionario.cantPreguntas }}</td>
                              <td><span class="badge bg-black">{{ cuestionario.codigo }}</span></td>
                              <td>
                                  <i [routerLink]="['/dashboard/verCuestionario', cuestionario.id]" class="fas fa-search"></i>
                                  <i [routerLink]="['/dashboard/estadisticas', cuestionario.id]" class="fas fa-chart-line"></i>
                                  <i class="fas fa-trash"></i>
                              </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
