:root {
  --light-color: #fff;
  --black-color: #000000;
  --dark-color: #171721;
  --dark-color-lighter: #7E8299;
  --not-very-dark: #424242;
  --brand-color: #6A5AE0;
  --secondary-color: #9087E5;
  --secondary-color2: #FF8FA2;
  --accent-color: #FFD6DD;
  --accent-color2: #C4D0FB;
  --accent-color3: #C9F2E9;
  --success-color: #26890c;
  --danger-color: #dc3545;
  --font-size-small: 0.875rem;
  --font-size-normal: clamp(0.875rem, 1vw, 1rem);
  --font-size-medium: clamp(1rem, 2vw, 1.25rem);
  --font-size-large: clamp(1.125rem, 4vw, 1.5rem);
  --font-size-xl: clamp(1.25rem, 4vw, 2.5rem);
  --number-of-columns: 4;
  --page-gutter: 1.5rem;
  --font-family: 'Montserrat', sans-serif;
  --shadow-1: rgb(0 0 0 / 35%) 0px 8px 24px;
  --shadow-2: rgba(100, 100, 111, .2) 0px 7px 29px 0px;
  --border-radius-1: .25rem;
  --border-radius-2: .5rem;
  --margin-small: 0.625rem;
  --margin-medium: 0.938rem;
  --gap-small: 0.625rem;
  --gap-medium: 1.563rem;

  @media screen and (min-width: 48em) {
      --number-of-columns: 8;
      --page-gutter: 2.5rem;
  }

  @media screen and (min-width: 64em) {
      --number-of-columns: 12;
  }
}
