<div class="take-quiz-wrapper">
  <div class="container">
    <div *ngIf="loading" class="spinner">
      <app-spinner></app-spinner>
    </div>
    <div *ngIf="!loading" class="quiz-content">
      <h2 class="counter text-center">{{ obtenerSegundos() }}</h2>
      <div class="row mt-2">
        <h1 class="title text-center">{{  obtenerTitulo() }}</h1>
        <div class="col-lg-6 offset-lg-3">
            <ul class="list-group mt-4">
                <li *ngFor="let respuesta of cuestionario.listPreguntas[indexPregunta].listRespuestas; let i = index"
                    class="list-group-item text-center animate__animated animate__fadeIn"
                    (click)="respuestaSeleccionada(respuesta, i)"
                    [ngClass]="addClassOption(respuesta)">
                    {{ respuesta.descripcion }}
                </li>
            </ul>
            <button (click)="siguiente()" [disabled]="opcionSeleccionada == null" class="btn btn--small btn--dark mt-4 w100">ACEPTAR
            </button>
        </div>
    </div>
  </div>
  </div>
</div>
