<div *ngIf="loading" class="d-flex justify-content-center mt-3">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!loading" class="container">
  <div class="d-flex justify-content-center mt-3">
      <div class="card card-title">
          <div class="card-body">
              <h2 class="titulo">Listado de respuestas</h2>
          </div>
      </div>
  </div>
  <div *ngIf="listRespuestasUsuario.length > 0" class="row mt-3">
      <div class="col-lg-8 offset-lg-2">
          <div class="card">
              <div class="card-body text-center">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Participante</th>
                              <th>Fecha</th>
                              <th>Puntos</th>
                              <th style="width: 20%;">Acciones</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let respuestas of listRespuestasUsuario">
                              <td>{{ respuestas.nombreParticipante }}</td>
                              <td>{{ respuestas.fecha.toDate() | date:'dd/MM/yyyy' }}</td>
                              <td>{{ respuestas.puntosTotales }}</td>
                              <td style="padding-bottom: 0; vertical-align: middle;">
                                  <i [routerLink]="['/userResponseAdmin', respuestas.id]" class="ri-search-eye-line"></i>
                                  <i (click)="eliminarRespuestaUsuario(respuestas.id)" class="ri-delete-bin-2-line"></i>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  <div *ngIf="listRespuestasUsuario.length == 0" class="row mt-3">
      <div class="col-lg-8 offset-lg-2">
          <div class="card mb-3">
              <div class="card-body">
                  <h5>No hay respuestas para mostrar</h5>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-8 offset-lg-2">
          <button routerLink="/" class="btn btn--small btn--dark w100">VOLVER</button>
      </div>
  </div>
</div>
