.field_container {
  margin-bottom: 20px;

  .form-label {
    color: var(--dark-color);
    font-weight: 600;
    font-size: 0.875rem;

    .is-required::after{
      content: " *";
      color: #e32;
    }

    & > label{
      display: block;
      margin-bottom: 8px;
    }
  }

  textarea {
    border: none;
    outline: 1px solid #e6e7e9;
    border: 1px solid rgb(178, 178, 178);
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 500;
    transition: all ease 0.25s;
    font-family: inherit;
    font-size: inherit;

    &::placeholder {
      color: #767676;
      font-weight: 300;
      opacity: 1;
    }
    &:focus {
      outline: 2px solid var(--primary-color);
      transition: all ease 0.25s;
      background-color: #ffffff;
    }

    &.has-error {
      border: solid 2px rgb(255, 76, 76) !important;
      outline: none;
    }
  }
}
