.initial-counter-wrapper {
  background: url(../../../../../assets/img/pattern-circles-desktop.png) center no-repeat, var(--brand-color);
  background-size: cover;

  @media (max-width: 768px) {
    background: url(../../../../../assets/img/pattern-circles.png) center no-repeat, var(--brand-color);
    background-size: cover;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }

  .counter{
    font-size: 200px;
    font-weight: bold;
  }
}
