.register-auth-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;

  .register-header {
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(217, 218, 220);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    margin-bottom: 10px;
    text-align: center;

    &__logo{
      padding: 0px 0px 12px;
      height: 56px;
      text-align: center;

      svg{
        width: 156px;
      }
    }
  }

  .register-container{
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    padding: 10px;
    flex: 3 1 0%;
  }

  .register-auth-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
    justify-content: center;

    .title{
      color: var(--not-very-dark);
      margin-top: 32px;

      &__subtitle{
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0px;
        color: inherit;
      }
    }

    .register-social-zone {
      display: flex;
      flex-direction: column;
      gap: .75rem;
      width: 100%;
      margin: 1.5rem 0px;

      .social-btn{
        border: 0;
        padding: .5rem 2rem;
        width: 100%;
        font-size: var(--font-medium);
        border-radius: var(--border-radius-2);
        box-shadow: var(--shadow-1);
        background-color: var(--light-color);
        font-weight: 600;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;

        &.btn-fb {
          background-color: #3A61B3;
          color: var(--light-color);
        }

        &.btn-apple {
          background-color: #1a1a1a;
          color: var(--light-color);
        }

        &__text{
          display: flex;
          flex-direction: row;
          column-gap: 10px;
          -webkit-box-align: center;
          align-items: center;
        }

        &__icon{

          &--apple{
            background: url("https://accounts.scdn.co/sso/images/apple-icon.36286be565c1ca3ac9b60243f8e0a78b.svg") center center no-repeat;
            width: 20px;
            height: 20px;
          }

          &--google{
            background: url("https://accounts.scdn.co/sso/images/google-icon.1cdc8fce9609d07f0e9d8d0bc4b61f8f.svg") center center no-repeat;
            width: 20px;
            height: 20px;
          }
        }
      }

      .separator {
        width: 100%;
        margin: 2rem 0;
        border-bottom: solid 1px var(--dark-color);
        opacity: .2;
      }
    }

    .separator-container {
      display: flex;
      flex-direction: row;
      width: 100%;

      .separator-divider {
        margin: 12px 0px 20px;
        flex: 1 1 0%;
        border-top: 1px solid rgb(204, 204, 204);
      }
      .separator-text{
        flex: 0.3 1 0%;
        align-self: center;
        text-align: center;
        line-height: 1px;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
      }
    }

    .register-auth-form{
      margin: 1.5rem 0px;
      display: flex;
      width: 100%;
      justify-content: flex-start;
      flex-direction: column;

      .login-link{
        color: var(--brand-color);
        font-weight: 400;
        line-height: 17px;

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
